.actionButtons {
  display: flex;
  justify-content: space-between;
  /* margin-top: -1rem; */
  width: 90%;
  margin: 0 auto;
  margin-top: -1rem;
}

.actionButton {
  flex: 1;
  margin: 0.3rem;
  padding: 6px 10px;
  font-size: 0.8rem;
  background: none;
  color: cadetblue;
  border: 1px solid cadetblue;
}

.players {
  display: flex;
  flex-direction: row;
}

.playersColumn {
  flex: 1;
  margin: 0.5rem;
}

.playerCard {
  padding: 10px 10px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerCard.blue {
  background: blue;
}

.playerCard.red {
  background: red;
}

.teamTitle {
  text-align: center;
  font-weight: 600;
}

.teamTitle .red {
  color: red;
}

.teamTitle .blue {
  color: blue;
}

.atLeastLabel {
  text-align: center;
  margin: 2rem 0;
  display: block;
  color: gray;
}

.labelEmoji {
  margin-right: 0.5rem;
}

.score {
  background: gray;
  color: black;
  border-radius: 6px;
  display: inline-block;
  padding: 3px 6px;
}
