.container
  flex: 1
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between

.header
  padding: 0 1rem

.actionButtons
  display: flex
  justify-content: space-between
  width: 100%
  margin: 0 auto

.gameId
  text-align: center

.gameIdCode
  background-color: #f0f0f0
  padding: 5px 10px
  border-radius: 5px

.description
  text-align: center


.actionButton
  flex: 1
  margin: 0.3rem
  padding: 6px 10px
  font-size: 0.8rem
  background: none
  color: #5E6EC4
  border: 1px solid #5E6EC4
  border-radius: 20px

  &:disabled
    opacity: 0.5

  &:focus
    outline: none


.players
  display: flex
  flex-direction: row


.playersColumn
  flex: 1
  margin: 0.5rem


.playerCardRed, .playerCardBlue
  padding: 10px 10px
  font-weight: bold
  border-radius: 6px
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 1rem




.playerCardBlue
  box-shadow: #5e6ec442 0px 0px 10px 0px
  //justify-content: flex-start
  & .labelEmoji
    margin-right: 0.5rem


.playerCardRed
  box-shadow: rgba(246, 102, 137, 0.39) 0px 0px 10px 0px
  //justify-content: flex-end
  & .labelEmoji
    margin-left: 0.5rem

.divider
  border-color: rgba(221, 221, 221, 0.18)


.teamTitleRed, teamTitleBlue
  font-weight: 600


.teamTitleRed
  text-align: right


.teamTitleBlue
  text-align: left


.atLeastLabel
  text-align: center
  margin: 2rem 0
  display: block
  color: gray





.score, .playerScoreBlue, .playerScoreRed
  background: #f2f2f2
  color: black
  border-radius: 6px
  display: inline-block
  padding: 3px 6px
  margin: 0 0.1rem

.playerScoreBlue, .playerScoreRed
  font-size: smaller

.nextButton
  padding: 20px 20px
  width: 90%
  background: #5E6EC4
  color: white
  border: none
  border-radius: 40px
  margin: 1rem auto
  display: block
  font-size: 1rem
  font-weight: bold

.nextButton
  &:disabled
    opacity: 0.4
